$background: rgb(40, 45, 54);
$contrast: rgb(207, 192, 146);
$background2: rgb(85, 48, 60);
$textcolor: rgb(244, 244, 244);

$tablet-width: 768px;
$desktop-width: 1024px;

$navheight: 80px;

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

/*  Reset styling. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
    overflow-y: hidden;
}

/*  Helperclass to prevent transitions to fire on page load.
    Used together with Javascript to remove this class after page has loaded. */
.preload {
    transition: none !important;
}

/* Container-element for all content besides navigation. */
.container {
    width: 100vw;
    height: 100vh;
    perspective: 2px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    position: relative;

    .parallax {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        padding-top: $navheight;
    }

    .back_layer_2 {
        z-index: -2;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .back_layer_1 {
        z-index: -1;

        img {
            width: auto;
            height: 100%;
        }
    }

    @include tablet() {
        .back_layer_1 img {
            margin-left: 10%;
        }
    }

    @include desktop() {
        .back_layer_1 img {
            margin-left: 15%;
        }
    }
}

/*  If browser is not IE or Edge and supports perspective use parallax scroll.
    Parallax scrolling in IE/Edge is broken.
    If Javascript is disabled there is no way of telling if the browser
    is IE/Edge and therefore the safe option is to not use Parallax. If so
    the class .ie will not be removed and the CSS will not use perspective. */
body:not(.ie) .container {
    @supports (perspective: 2px) {

        perspective: 2px;

        .back_layer_2 {
            transform: translateZ(-3px) scale(2.6);
        }

        .back_layer_1 {
            transform: translateZ(-2px) scale(2);
        }
    }
}

nav {
    /*  Set upp navigation field, background and color. */
    background: linear-gradient(to right, $background2, lighten($background2, 40) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: $contrast;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: $navheight;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    /*  Setup container-element for "hamburger-menu". */
    #menu_container {
        position: absolute;
        z-index: 2;
        user-select: none;
        background-color: $background;
        border-radius: 50%;
        width: $navheight - 10px;
        height: $navheight - 10px;
        padding: 21px 16px 20px;
        margin: 5px;
        border: 3px solid $contrast;
        perspective: 1000px;

        /*  Style input-checkbox to overlay "hamburger-menu" but to be transparent.
            This is the element that will toggle the menu on checked. */
        input {
            display: block;
            width: 48px;
            height: 48px;
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
            opacity: 0;
            z-index: 2;
            -webkit-touch-callout: none;

            /* transition span-elements on input-checked. */
            &:checked~span {
                opacity: 1;
                transform: rotate(45deg) translate(-2px, -1px);
                background: $background;
            }

            &:checked~span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }

            &:checked~span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }
        }

        /*  Setup the bars for the "hamburger-menu" also set up transition on
            input checked. */
        span {
            display: block;
            width: 34px;
            height: 4px;
            margin-bottom: 5px;
            position: relative;
            background: $contrast;
            border-radius: 3px;
            z-index: 1;
            transform-origin: 5px 0;
            transition: transform 0.5s ease-in-out,
                background-color 0.5s ease-in-out,
                opacity 0.6s ease;

            &:first-child {
                transform-origin: 0% 0%;
            }

            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
        }

        /* Remove transformation on the menu to make it appear. */
        input:checked~ul {
            transform: none;
            opacity: 1;
        }
    }

    /* Style the slide in menu. Transform menu out of view. */
    #menu {
        position: absolute;
        width: 375px;
        margin: -56px 0 0 -24px;
        padding: 80px 0 30px 50px;
        background: $contrast;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% $navheight;
        transform: rotateX(-90deg);
        opacity: 0;
        transition: transform 0.5s ease-in-out,
            opacity 0.5s linear;
        transform-style: preserve-3d;

        a {
            text-decoration: none;
            color: $background;

            &:hover {
                text-decoration: underline;
            }
        }

        li {
            padding: 10px 0;
        }
    }

    @include desktop() {
        #menu_container {
            position: absolute;
            user-select: text;
            background-color: $background;
            border-radius: 0;
            width: 100vw;
            height: $navheight - 5px;
            padding: 20px;
            border: 0;
            margin: 0;
            perspective: none;
        }

        #menu_container input,
        #menu_container span {
            display: none;
        }

        #menu {
            position: absolute;
            width: 100%;
            margin: 0;
            padding: 0;
            background: $background;
            -webkit-font-smoothing: antialiased;
            transform: none;
            opacity: 1;

            li {
                display: inline-block;
                padding: 0 0 0 1em;
                font-size: 1.5em;

                a {
                    color: $contrast;
                }
            }
        }
    }
}

header {
    color: $textcolor;
    text-shadow: 0 2px 4px #000;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        position: relative;

        span {
            animation-name: blinking_cursor;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            border-bottom: .1em solid $textcolor;
            position: absolute;
            bottom: 0.1em;
        }
    }

    @include tablet() {
        margin-right: 5vw;

        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.5em;
        }
    }

    @include desktop() {
        margin-right: 5vw;
        width: 50%;
        text-align: left;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 2em;
        }
    }
}

@keyframes blinking_cursor {
    0% {
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    49% {
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    50% {
        border-bottom-color: $textcolor;
    }

    100% {
        border-bottom-color: $textcolor;
    }
}

main {
    background-color: $background;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
        "about"
        "skills"
        "samples"
        "footer";

    article,
    section {
        min-height: 100vh;
        padding: ($navheight +5) 1em 1em;
    }

    h2,
    h3 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.3em;
        margin-bottom: 1em;

    }

    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        margin-bottom: 1em;
        line-height: 1.5em;
    }

    #about {
        grid-area: about;
        background-color: $textcolor;
        color: $background;
    }

    #skills {
        grid-area: skills;
        color: $textcolor;
        background-color: $background;
        display: grid;
        justify-items: center;
        align-items: center;
        align-content: center;

        h2 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            font-family: monospace, Arial, Helvetica, sans-serif;

            li {
                display: block;
                padding: 1.5em;
            }

            span {
                display: block;
                margin-bottom: 0.5em;
            }

            span+span {
                width: 5em;
                height: 5em;
                background-color: $background2;
                border: 4px solid $contrast;
                border-radius: 50%;
                margin: 0 auto;
                position: relative;
            }

            span>span {
                top: -4px;
                left: -4px;
                width: 5em;
                height: 5em;
                border: 4px solid $contrast;
                border-radius: 50%;
                margin: 0 auto;
                position: absolute;
                text-align: center;
                line-height: 4.5em;
            }

            $skill-level-list: 60% 60% 30% 70% 80% 80% 20% 50%;
            $i: 1;

            @each $c-skill-level in $skill-level-list {
                #skill-#{$i} {
                    background: linear-gradient(to top, mix(black, $contrast, 60%) #{$c-skill-level}, $background2 #{$c-skill-level});
                }

                $i: $i+1;
            }
        }
    }

    #samples {
        grid-area: samples;
        background-color: $textcolor;

        h2,
        h3,
        p {
            text-align: center;
            font-family: Arial, Helvetica, sans-serif
        }

        #samples-inner {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            h3 {
                font-size: 1.2em;
                margin-bottom: 0.5em;
            }

            div {
                width: 100%;
                border: 2px solid $background;
                padding: 1em;
                margin: 0 auto 1em;
                text-align: center;
            }

            img,
            video,
            embed {
                width: 100%;
            }

            embed {
                height: 670px;
            }
        }

        @include desktop() {
            #samples-inner {
                flex-direction: row;
                justify-content: space-around;

                div {
                    width: 500px;
                    margin: 0 0 1em;
                }

                img,
                video,
                embed {
                    width: 100%;
                }

                embed {
                    height: 300px;
                }
            }
        }
    }

    @include desktop() {
        grid-template-columns: 50vw;
        grid-template-rows: auto;
        grid-template-areas:
            "about skills"
            "samples samples"
            "footer footer";

        article,
        section {
            padding: ($navheight +15) 3em 1em;
        }
    }
}

#contact {
    grid-area: footer;
    background-color: $background;
    min-height: 50vh;
    color: $textcolor;
    padding: ($navheight +5) 0.5em 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;

    h2,
    p {
        margin-bottom: 1em;
    }

    p:nth-of-type(2) {
        margin-bottom: 4em;
    }

    #copyright {
        position: absolute;
        bottom: 0.5em;
        right: 1em;
        font-size: 0.8em;
    }

    a {
        color: $textcolor;

        &:hover,
        &:visited {
            color: $contrast;
        }
    }
}