$background: rgb(40, 45, 54);
$contrast: rgb(207, 192, 146);
$background2: rgba(85, 48, 60, 1);
$textcolor: rgba(244, 248, 255, 1);

$mobile-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile-lg {
    @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 22px;
}

.container {
    height: 100vh;
    width: 100%;
    perspective: 2px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    .parallaxx {
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    .back_layer_2 {
        background-image: url("../imgages/sai-kiran-anagani-5Ntkpxqt54Y-unsplash-1920x1080.jpg");
        z-index: -2;
        transform: translateZ(-3px) scale(2.6);

    }

    .back_layer_1 {
        z-index: -1;
        transform: translateZ(-2px) scale(2);
        left: -110%;
        display: inline-block;
        width: 50%;

        img {
            width: auto;
            height: 100vh;
        }

        @include mobile-lg() {
            left: -85%;
        }

        @include tablet() {
            left: -50%;
        }

        @include desktop() {
            left: -15%;
        }
    }

}

nav {
    background: $background;
    color: $contrast;
    font-family: Arial, Helvetica, sans-serif;

    a {
        text-decoration: none;
        color: $background;
        transition: color 0.3s ease;
    }

    a:hover {
        text-decoration: underline;
    }

    #menuToggle {
        display: block;
        position: fixed;
        top: 50px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: $contrast;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s ease-in-out,
            background 0.5s ease-in-out,
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    #menuToggle input:checked~span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: $background;
    }

    #menuToggle input:checked~span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked~span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 425px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: $contrast;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s ease-in-out;
    }

    #menu li {
        padding: 10px 0;
    }

    #menuToggle input:checked~ul {
        transform: none;
    }
}

header {
    color: $textcolor;
    text-shadow: 0 2px 5px #000;
    height: 100vh;
    width: 100%;
    margin-left: auto;
    font-family: Monospace, Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
        position: relative;

        span {
            animation-name: blinking_cursor;
            animation-duration: 1.5s;
            animation-iteration-count: infinite;
            border-bottom: .1em solid $textcolor;
            position: absolute;
            bottom: 0.1em;
        }
    }

    @include tablet() {
        margin-right: 5vw;

        h1 {
            font-size: 2.5em;
        }

        p {
            font-size: 1.5em;
        }
    }

    @include desktop() {
        margin-right: 5vw;
        width: 50%;
        text-align: left;

        h1 {
            font-size: 3em;
        }

        p {
            font-size: 2em;
        }
    }
}

@keyframes blinking_cursor {
    0% {
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    49% {
        border-bottom-color: rgba(0, 0, 0, 0);
    }

    50% {
        border-bottom-color: $textcolor;
    }

    100% {
        border-bottom-color: $textcolor;
    }
}

.normal_flow {
    height: 1000px;
    background-color: $background;
}