* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 22px;
}

/* Helperclass to prevent transition to fire on page load.
    Used together with Javascript to remove class after page load. */
.preload {
  -webkit-transition: none !important;
  transition: none !important;
}

.container {
  height: 100vh;
  width: 100%;
  -webkit-perspective: 2px;
          perspective: 2px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.container .parallaxx {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container .back_layer_2 {
  background-image: url("../imgages/sai-kiran-anagani-5Ntkpxqt54Y-unsplash-1920x1080.jpg");
  z-index: -2;
  -webkit-transform: translateZ(-3px) scale(2.6);
          transform: translateZ(-3px) scale(2.6);
}

.container .back_layer_1 {
  background-image: url("../imgages/stefan-kostym.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  z-index: -1;
  -webkit-transform: translateZ(-2px) scale(2);
          transform: translateZ(-2px) scale(2);
}

.container .back_layer_1 img {
  width: auto;
  height: 100vh;
}

@media (min-width: 360px) and (max-width: 767px) {
  .container .back_layer_1 {
    background-position: 10% bottom;
    background-size: contain;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container .back_layer_1 {
    background-position: 15% bottom;
    background-size: contain;
  }
}

@media (min-width: 1024px) {
  .container .back_layer_1 {
    background-position: 20% bottom;
    background-size: contain;
  }
}

nav {
  background: #282d36;
  color: #cfc092;
  font-family: Arial, Helvetica, sans-serif;
}

nav a {
  text-decoration: none;
  color: #282d36;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
}

nav #menuToggle {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  background-color: #000;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 26px 22px 20px;
}

nav #menuToggle input {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

nav #menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cfc092;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.55s ease;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
}

nav #menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

nav #menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

nav #menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #282d36;
}

nav #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

nav #menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

nav #menu {
  position: absolute;
  width: 350px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #cfc092;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

nav #menu li {
  padding: 10px 0;
}

nav #menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}

header {
  color: #f4f4f4;
  text-shadow: 0 3px 4px #000;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
}

header p {
  font-size: 1em;
  position: relative;
}

header p span {
  -webkit-animation-name: blinking_cursor;
          animation-name: blinking_cursor;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-bottom: 0.1em solid #f4f4f4;
  position: absolute;
  bottom: 0.1em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    margin-right: 5vw;
  }
  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  header {
    margin-right: 5vw;
    width: 50%;
    text-align: left;
  }
  header h1 {
    font-size: 3em;
  }
  header p {
    font-size: 2em;
  }
}

@-webkit-keyframes blinking_cursor {
  0% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  49% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-bottom-color: #f4f4f4;
  }
  100% {
    border-bottom-color: #f4f4f4;
  }
}

@keyframes blinking_cursor {
  0% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  49% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-bottom-color: #f4f4f4;
  }
  100% {
    border-bottom-color: #f4f4f4;
  }
}

.normal_flow {
  height: 1000px;
  background-color: #282d36;
}
/*# sourceMappingURL=styles.css.map */