/*  Reset styling. */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 22px;
  overflow-y: hidden;
}

/*  Helperclass to prevent transitions to fire on page load.
    Used together with Javascript to remove this class after page has loaded. */
.preload {
  -webkit-transition: none !important;
  transition: none !important;
}

/* Helper-id to fix scrolling to home issue caused by fixed nav. */
#home {
  margin-top: -80px;
}

/* Container-element for all content besides navigation. */
.container {
  width: 100%;
  height: 100vh;
  -webkit-perspective: 2px;
          perspective: 2px;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  position: relative;
  top: 80px;
}

.container .parallaxx {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container .back_layer_2 {
  z-index: -2;
  -webkit-transform: translateZ(-3px) scale(2.6);
          transform: translateZ(-3px) scale(2.6);
}

.container .back_layer_2 img {
  width: 100%;
  height: 100%;
}

.container .back_layer_1 {
  z-index: -1;
  -webkit-transform: translateZ(-2px) scale(2);
          transform: translateZ(-2px) scale(2);
}

.container .back_layer_1 img {
  width: auto;
  height: 100vh;
}

nav {
  /*  Set upp navigation field, background and color. */
  background: #55303c;
  color: #cfc092;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /*  Setup container-element for "hamburger-menu". */
  /* Style the slide in menu. Transform menu out of view. */
}

nav #menu_container {
  position: absolute;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #282d36;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 21px 16px 20px;
  margin: 5px;
  border: 3px solid #cfc092;
  -webkit-perspective: 1200px;
          perspective: 1200px;
  /*  Style input-checkbox to overlay "hamburger-menu" but to be transparent.
            This is the element that will toggle the menu on checked. */
  /*  Setup the bars for the "hamburger-menu" also set up transition on
            input checked. */
  /* Remove transformation on the menu to make it appear. */
}

nav #menu_container input {
  display: block;
  width: 48px;
  height: 48px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
  /* transition span-elements on input-checked. */
}

nav #menu_container input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #282d36;
}

nav #menu_container input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

nav #menu_container input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

nav #menu_container span {
  display: block;
  width: 34px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cfc092;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.55s ease;
  transition: transform 0.5s ease-in-out, background-color 0.5s ease-in-out, opacity 0.55s ease, -webkit-transform 0.5s ease-in-out;
}

nav #menu_container span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

nav #menu_container span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

nav #menu_container input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

nav #menu {
  position: absolute;
  width: 375px;
  margin: -56px 0 0 -24px;
  padding: 80px 0 30px 50px;
  background: #cfc092;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 80px;
          transform-origin: 0% 80px;
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
  opacity: 0;
  -webkit-transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear;
  transition: transform 0.5s ease-in-out, opacity 0.5s linear, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

nav #menu a {
  text-decoration: none;
  color: #282d36;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

nav #menu a:hover {
  text-decoration: underline;
}

nav #menu li {
  padding: 10px 0;
}

@media (min-width: 1024px) {
  nav #menu_container {
    position: absolute;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: #282d36;
    border-radius: 0;
    width: 100vw;
    height: 75px;
    padding: 20px;
    border: 0;
    margin: 0;
    -webkit-perspective: 0;
            perspective: 0;
  }
  nav #menu_container input,
  nav #menu_container span {
    display: none;
  }
  nav #menu {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #282d36;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
  nav #menu li {
    display: inline-block;
    padding: 0 0 0 1em;
    color: #cfc092;
    font-size: 1.5em;
  }
  nav #menu li:hover {
    text-decoration: underline;
  }
}

header {
  color: #f4f4f4;
  text-shadow: 0 2px 4px #000;
  height: 100vh;
  width: 100%;
  margin-left: auto;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header h1 {
  font-size: 1.5em;
}

header p {
  font-size: 1em;
  position: relative;
}

header p span {
  -webkit-animation-name: blinking_cursor;
          animation-name: blinking_cursor;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  border-bottom: 0.1em solid #f4f4f4;
  position: absolute;
  bottom: 0.1em;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header {
    margin-right: 5vw;
  }
  header h1 {
    font-size: 2.5em;
  }
  header p {
    font-size: 1.5em;
  }
}

@media (min-width: 1024px) {
  header {
    margin-right: 5vw;
    width: 50%;
    text-align: left;
  }
  header h1 {
    font-size: 3em;
  }
  header p {
    font-size: 2em;
  }
}

@-webkit-keyframes blinking_cursor {
  0% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  49% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-bottom-color: #f4f4f4;
  }
  100% {
    border-bottom-color: #f4f4f4;
  }
}

@keyframes blinking_cursor {
  0% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  49% {
    border-bottom-color: rgba(0, 0, 0, 0);
  }
  50% {
    border-bottom-color: #f4f4f4;
  }
  100% {
    border-bottom-color: #f4f4f4;
  }
}

/* Temp helper class */
.normal_flow {
  height: 1000px;
  background-color: #282d36;
}
/*# sourceMappingURL=styles.css.map */